
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
    padding: 5px;
}

.flex-item {
    margin: 5px;
}

a {
    font-size: 24px;
    margin: 30px;
}

a:hover {
    border: 5px solid peachpuff;
}